<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Lista de Pedidos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número de Pedido</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.numero_pedido }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.fecha_pedido }}</td>
                    <td>{{ pedido.estado_pedido }}</td>
                    <td>
                        <a href="{% url 'detalle_pedido' pedido.id %}" class="btn btn-info">Ver Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
